ignore-workspace-root-check=true
shell-emulator=true

# npm v8.5+: npm ERR! notarget No matching version found for...
workspaces-update=false

store-dir=${PNPM_HOME}/store

prefer-workspace-packages=true
link-workspace-packages=true

auto-install-peers=true
